.col-sm-6.col-md-2.map-img-block.xs-align-center.img-container-blck.profile-bird-container
  .head
    .plant-sighting-header
      .plant-name
        = plant_sighting.plant.present? ? plant_sighting.plant.display_name(I18n.locale) : I18n.t('profile.photo.unknown_plant')
      -if @user.current?(current_user) || current_user.try(:expert?)
        .status-badge
          = plant_sighting_status_badge(plant_sighting)
  .body
    =link_to plant_sighting_path(plant_sighting) do
      = image_tag plant_sighting.photo.thumb.url, class: 'img-responsive'
    .profile-sighting-meta
      - if plant_sighting.timestamp.present?
        %p.profile-sighting-date= date_format(plant_sighting.timestamp)
      - if plant_sighting.address_valid?
        %p.profile-sighting-place= plant_sighting.address_string
    -if @user.current?(current_user)
      =link_to '', '#', class: 'delete_user_plant_sighting', data: {id: plant_sighting.id}, title: "#{I18n.t('profile.photo.delete')}"
      =link_to '', edit_plant_plant_sighting_path(plant_sighting), class: 'edit_user_bird', data: {id: plant_sighting.id}, title: "#{I18n.t('profile.photo.edit')}"
