.bg-btm-container
  .container.content
    - users_scope = 'users.index'
    .row.users-container.mtop20
      .row.users-text.mbtm20
        %h4
          = I18n.t('title', scope: users_scope)
        %p
          %i
            #{I18n.t('text_1', scope: users_scope)} - #{@users.size}, #{I18n.t('text_2', scope: users_scope)}
            =link_to "#{I18n.t('bg', scope: users_scope)}", big_year_path
            #{@big_year_users_count}
      .row
        .users-list-title.mbtm15
          = I18n.t('birders', scope: users_scope)

        - index = 1
        - @users.each do |user|
          .row.user-block
            .col-md-1.user-left-blck
              %p
                ="#{index}."
                =image_tag user.avatar.thumb.url, class: 'img-circle', align: 'right'
                -index += 1
            .col-md-3.user-right-blck
              =link_to user.full_name, profile_path(user.id)
              %p= "#{I18n.t('photo_count', scope: users_scope)} #{user['birds_count'] || 0}"
              %p= "#{I18n.t('registered_at', scope: users_scope)} #{date_format(user.created_at)}"
              -if current_user.try(:admin?)
                - if user.is_expert?
                  =link_to I18n.t('revoke_expert', scope: users_scope), toggle_expert_user_path(user), method: :post, class: 'btn btn-xs revoke-expert-btn', data: { confirm: I18n.t('revoke_expert_confirm', scope: users_scope, name: user.full_name) }
                - else
                  =link_to I18n.t('make_expert', scope: users_scope), toggle_expert_user_path(user), method: :post, class: 'btn btn-success btn-xs', data: { confirm: I18n.t('make_expert_confirm', scope: users_scope, name: user.full_name) }
            -#.col-md-2.user-right-blck1
              -if user.big_year
                =image_tag 'user/icon-2016.png'
