.footer
  = render 'shared/nav_add_photo'
  .footer-inner
    %style
      :plain
        .footer-locale-switch {
          margin-bottom: 10px;
        }
        .footer-locale-switch a {
          display: inline-block;
          padding: 3px 12px;
          margin-left: 6px;
          border: 1px solid rgba(255,255,255,.5);
          border-radius: 14px;
          color: #fff !important;
          font-size: 12px;
          font-weight: 600;
          text-decoration: none !important;
        }
        .footer-locale-switch a.active {
          background: rgba(255,255,255,.25);
        }
        .footer-locale-switch a:hover {
          background: rgba(255,255,255,.15);
        }
    - footer_scope = 'shared.footer'
    .container
      .fleft
        %p
          =link_to root_path, style: 'display: inline-block; vertical-align: middle;' do
            = render 'shared/logo_icon', size: 22
          =link_to 'Uzflora.uz', root_path
          %br
          Developed by Bobur Choriyev
      .fright
        .footer-locale-switch.aright
          =link_to 'O\'Z', switch_locale_path(locale: :uz), class: ('active' if I18n.locale == :uz)
          =link_to 'RU', switch_locale_path(locale: :ru), class: ('active' if I18n.locale == :ru)
          =link_to 'EN', switch_locale_path(locale: :en), class: ('active' if I18n.locale == :en)
        %p.aright
          = I18n.t('rights', scope: footer_scope)
          %br
          = I18n.t('contacts', scope: footer_scope)
          = mail_to 'boburchoriyev465@gmail.com', 'boburchoriyev465@gmail.com'
