.row
  = image_tag sighting.photo.small.url, class: 'img-responsive sm-centered mbtm15' if sighting.photo.present?

  - if sighting.timestamp.present?
    .row.add-photo-info
      .col.col-md-4.aright
        %p
          %span.lbl= I18n.t('.date', scope: 'plant_sightings.show')
      .col.col-md-8.aleft
        %p= date_format(sighting.timestamp)

  - if sighting.address_valid?
    .row.add-photo-info
      .col.col-md-4.aright
        %p
          %span.lbl= I18n.t('.place', scope: 'plant_sightings.show')
      .col.col-md-8.aleft
        %p= sighting.address_string
