.bg-btm-container
  .container.content
    - edit_scope = 'plant_sightings.edit'
    .row.mtop20
      %h3.acenter= I18n.t('.title', scope: edit_scope)
      = render 'steps', current_step: :date

    .row.mtop40.add-photo-container
      .col-md-9.col-sm-12
        = form_for @plant_sighting do |form|
          .form-container
            .action-description
              = I18n.t('.set_date', scope: edit_scope)
            #plant-sighting-datetime-group.input-group.date.w80.sm-width-max
              = form.text_field :timestamp, 'value' => date_format(@timestamp), 'data-date-format' => 'DD/MM/YYYY', 'class' => 'form-control photo-date-input', placeholder: 'DD/MM/YYYY'
              %span.input-group-addon
                %span.glyphicon.glyphicon-calendar

            = form.submit I18n.t('.continue', scope: edit_scope), class: 'fright btn btn-info mtop-30 sm-display-none'
          = form.submit I18n.t('.continue', scope: edit_scope), class: 'mtop3 m-h35 mbtm20 sm-width-max btn btn-info display-sm-only w'

      .col-md-3.acenter.sm-display-none
        = render 'sighting_info', sighting: @plant_sighting
