.bg-btm-container
  .container.content
    - show_scope = 'plant_sightings.show'
    .row.mtop20.mbtm20
      .col-md-8.col-sm-12
        - if @plant_sighting.photo.present?
          = link_to @plant_sighting.photo.url, target: '_blank', rel: 'noopener', title: I18n.t('.view_full', scope: show_scope) do
            = image_tag @plant_sighting.photo.display.url, class: 'img-responsive'

        %h3.mtop20
          - if @plant_sighting.plant.present?
            = link_to @plant_sighting.plant.display_name, plant_path(@plant_sighting.plant)
          - else
            = I18n.t('.unknown_plant', scope: show_scope)
          - if @plant_sighting.owner?(current_user)
            = plant_sighting_status_badge(@plant_sighting)

        = render 'plant_names', plant: @plant_sighting.plant

        - if @plant_sighting.note.present?
          %p.mtop10
            %span.lbl= I18n.t('.note', scope: show_scope)
            = @plant_sighting.note

        %p.mtop10
          %span.lbl= I18n.t('.author', scope: show_scope)
          = link_to @plant_sighting.user.full_name, profile_path(@plant_sighting.user)

        - if @plant_sighting.timestamp.present?
          %p
            %span.lbl= I18n.t('.date', scope: show_scope)
            = date_format(@plant_sighting.timestamp)

        - if @plant_sighting.address_valid?
          %p
            %span.lbl= I18n.t('.place', scope: show_scope)
            %a.link.sighting-map-toggle{href: '#', data: {lat: @plant_sighting.latitude, lng: @plant_sighting.longitude}}
              = @plant_sighting.address_string
          #sighting_map_canvas{style: 'display:none; width:100%; height:300px; margin-top:10px;'}
