- m = 'devise.mailer.reset_password_instructions'
%p= I18n.t('hello', scope: m, email: @resource.email)
%p= I18n.t('intro', scope: m)
%p= link_to I18n.t('link_text', scope: m), edit_password_url(@resource, reset_password_token: @token)
%p= I18n.t('ignore', scope: m)
%p= I18n.t('valid_until', scope: m)
