!!!
%html
%head
  %title
    = I18n.t('.layouts.title')
  %meta{ 'http-equiv' => 'Content-Type', content: 'text/html; charset=utf-8' }
  %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
  %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
  %meta{ name: 'description', content: "#{og_description}" }

  %meta{content: "#{I18n.t('.layouts.og_site')}", property: 'og:site_name'}
  %meta{content: "#{og_title}", property: 'og:title'}
  %meta{content: "#{og_description}", property: 'og:description'}
  %meta{content: "#{og_image_url}", property: 'og:image'}
  %meta{content: 'website', property: 'og:type'}

  %meta{ name: 'twitter:card', content: 'summary_large_image' }
  %meta{ name: 'twitter:title', content: "#{og_title}" }
  %meta{ name: 'twitter:description', content: "#{og_description}" }
  %meta{ name: 'twitter:image', content: "#{og_image_url}" }

  = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
  / Zamonaviy brauzerlar SVG favicon'ni afzal ko'radi; favicon.ico eski
  / brauzerlar (va bookmark ikonkasi) uchun zaxira sifatida qoladi.
  = favicon_link_tag "uzflora-logo.svg", type: "image/svg+xml", rel: "icon"
  = favicon_link_tag "favicon.ico"

  / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
  /[if lt IE 9]
    <script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
    <script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>

  / Ayrim sahifalar (masalan mehmon uchun xarita) qo'shimcha head
  / teglarini (Leaflet CSS/JS) shu yerga qo'shishi mumkin.
  = yield :head

  = csrf_meta_tags
  = render 'shared/ga_code'
%body
  #wrap
    = render 'shared/navbar'
    = render 'shared/flash'

    = yield
  = render 'shared/footer'

  = javascript_include_tag "application", "data-turbolinks-track" => true
